@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Come make banana bread with me!</h1>
    <img src="Images/IMG_0308.jpeg" alt="In the Kitche" class="inline" />
    <p>1. Find bananas</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
