@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Come make banana bread with me!</h1>
    <img src="https://github.com/michaelts2125/Bananabread/blob/38913545997f0516dcacb29722fd10f13e9a1bf6/Pages/Shared/IMG_0308.jpeg">
    <p>1. Find bananas</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
